<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinBud</title>
  <link rel="stylesheet" href="static\Home_styles.css">
  <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"-->
  <link rel="stylesheet" href="static\font-awesome-4.7.0\css\font-awesome.min.css">
</head>
<body>
    <section class="About_header">
        <nav>
            <h2 class="logo">Finbud</h2>
            <div class = "navigation" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/models">Models</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/about">About Us</a></li>           
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
       </nav>
    <div class="text-box">
        <h1> ABOUT FINBUD</h1> 
        <p> A project created by BTech students</p>
    </div>
    </section>
    <section class="AboutUs_home">
    
            <!-- <div class="AboutUs_home-col"> -->
                <p style="padding-bottom: 400px;">A personal AI Financial Assistant to help you budget your money.<br> Utilising the power of artificial intelligence to find how you can spend your money
                    <br> The purpose of the project is to aid the user in distributing their money in 
                </p>
    </section>
    <script src="static\Home_script.js"></script> 
 </body>
 </html>