<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FinBud</title>
        <link rel="stylesheet" href="static\Home_styles.css">
        <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"-->
        <link rel="stylesheet" href="static\font-awesome-4.7.0\css\font-awesome.min.css">
      </head>
      <body>
          <section class="Model_header">
              <nav>
                  <h2 class="logo">Finbud</h2>
                  <div class = "navigation" id="navLinks">
                      <i class="fa fa-times" onclick="hideMenu()"></i>
                      <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="/models">Models</a></li>
                          <li><a href="/calendar">Calendar</a></li>
                          <li><a href="/about">About Us</a></li>           
                      </ul>
                  </div>
                  <i class="fa fa-bars" onclick="showMenu()"></i>
             </nav>
          <div class="text-box">
        <h1> Discover Models</h1> 
        <p> Budgeting is just a click away.<br>Ai predictions using ml models like Random Forest and Multiple Regression</p>
    </div>        
    </section>
   

<!----------CONTENT -------------->
    <section class="two_Models">  <!--about us-->
        <div class="container">
            <div class="AboutUs_home-row">
                <div class="mod1-col">
                    <div class="text-container">
                        <h1>Model 1</h1>
                        <p>Linear model using linear regression</p>
                        <!-- <a href="#">Start</a> -->
                        <a href="/predict" class="model_button">Start</a>
                    </div>
                </div>
                <div class="mod1-col">
                    <img src="static\images\piggy.jpg">
                </div>
            </div>
            <div class="AboutUs_home-row">
                <div class="mod1-col">
                    <div class="text-container">
                        <h1>Model 2</h1>
                        <p>Random Forest model using Random Forest regression<br> </p>
                        <!-- <a href="#">Start</a> -->
                        <a href="/predict_2" class="model_button">Start</a>
                    </div>
                </div>
                <div class="mod1-col">
                    <img src="static\images\moneygraph.webp">
                </div>
            </div>
        </div> 
    </section>

    <!-- ---------------------2nd Model__________________ -->

    <section class="two_Models">  <!--about us-->
        
            
        
    </section>
   
        
            
                
                
             
             



    <!----------------- Model Predict --------------->
<!--section class="Model_descp">
    <div class ="container_wrapper"> 
        <h3 > </h3>
        <div class="container" style="margin-top: 50px;"-->
            <!--div class="card">                
                <p>Text</p>              
            </div>
            <div class="card">
                <img src="images/All_pg.jpg" alt="Image">
            </div-->
            <!--div class="card">
                <h1>Model_1</h1>
                <p>Click to Create Standard Budget</p>
            </div>
            <div class="card">
                <h1>Model_2</h1>
            </div>
        </div>
        
    </div>    

</section-->
    <script src="script_t.js"></script>
</body>
</html>


